@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 4s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-right: -100%; }
    to {
      margin-right: 0; } }
  .container {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

@keyframes showModal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.project-detail {
  position: fixed;
  top: 12.5vh;
  left: 3%;
  right: 4%;
  margin: auto;
  height: 87.5vh;
  width: 92%;
  padding: 15px;
  background-color: white;
  display: none;
  animation: showModal 1s ease-out;
  opacity: 0;
  z-index: 10;
  color: black;
  border-radius: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .project-detail .clear {
    position: fixed;
    margin: auto;
    left: 2%;
    width: 91%;
    height: 20px; }
    .project-detail .clear i {
      float: right;
      cursor: pointer;
      transition: transform 0.5s; }
      .project-detail .clear i:hover {
        transform: scale(1.5);
        transition: transform 0.5s;
        color: red; }
  .project-detail .images img {
    margin: auto;
    margin-left: 0;
    width: 86%; }

@media screen and (max-width: 1024px) {
  .project-detail {
    left: 1.5%;
    margin: auto;
    height: 90vh;
    top: 10vh;
    width: 97%; }
    .project-detail .images img {
      width: 100%; } }
