@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 20px; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 1.5s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-top: 100%; }
    to {
      top: 5px; } }
  .container {
    position: relative;
    top: 5px;
    animation: 1.5s fadein;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

@keyframes showModal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.project-detail {
  position: fixed;
  top: 18vh;
  bottom: 3vh;
  left: 3%;
  margin: auto;
  height: 80vh;
  width: 94%;
  padding: 15px;
  background-color: white;
  display: none;
  animation: showModal 1s ease-out;
  opacity: 0;
  z-index: 10;
  color: black;
  border-radius: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.project-detail .clear {
  position: fixed;
  margin: auto;
  left: 2%;
  width: 94%;
  height: 20px; }

.project-detail .clear i {
  float: right;
  cursor: pointer;
  transition: transform 0.5s; }

.project-detail .clear i:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
  color: red; }

.project-detail .images img {
  margin: auto;
  margin-left: 0;
  width: 86%; }

@media screen and (max-width: 1024px) {
  .project-detail .images img {
    width: 100%; } }
