@import '../body.scss';
@keyframes showModal {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.project-detail {
    position: fixed;
    top: 12.5vh;
    // bottom: 3vh;
    left: 3%;
    right:4%;
    margin: auto;
    height: 87.5vh;
    width: 92%;
    padding: 15px;
    background-color: white;
    display: none;
    animation: showModal 1s ease-out;
    opacity: 0;
    z-index: 10;
    color: black;
    border-radius: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .clear {
        position: fixed;
        margin: auto;
        left: 2%;
        width: 91%;
        height: 20px;
        i {
            float: right;
            cursor: pointer;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.5);
                transition: transform 0.5s;
                color: red;
            }
        }
    }
    .project-detail {}
    .technology {}
    .role {}
    .images {
        img {
            margin: auto;
            margin-left: 0;
            width: 86%; // width:32%;
            // height:50vh;
        }
    }
}

@media screen and (max-width: 1024px) {
    .project-detail {
        left: 1.5%;
        margin: auto;
        height: 90vh;
        top:10vh;
        width: 97%;

        .images {
            img {
                width: 100%;
            }
        }
    }
}