@import '../body.scss';
.Loan {
    position: absolute;
    margin:auto;
    height:100%;
    width:95%;
    padding: 15px;
    background-color:white;
    opacity: 0.8;
    display: none;
    .project-detail {

    }
    .technology {

    }
    .role {

    }
}