.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: beige;
    opacity: 0.4;
  }

  .loader {
    border-top: 16px solid #3498db;
    /* Blue */
    border-bottom: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    margin: auto;
    left: 45%;
    top: 50vh;
    animation: spin 2s linear infinite;
    z-index: 11;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }