 @import '../body.scss';
 .row {
     display: flex;
     width: 100%;
     height: 100%;
     margin-bottom: 10px;
     color: black; //  border: 2px solid black;
     .each-skill-1 {
         width: 32%;
         margin-left: 1%;
        // background-color: white;
         padding: 10px;
         border-radius: 10px;
         .img {
             height: 71px;
             width: 71px;
             border-radius: 50%;
             border: 2px solid whitesmoke;
         }
     }
     .each-skill-2 {
         width: 32%;
         margin-left: 1%;
       //  background-color: white;
         padding: 10px;
         border-radius: 10px;
         .img {
             height: 71px;
             width: 71px;
             border-radius: 50%;
             border: 2px solid whitesmoke;
         }
     }
     .each-skill-3 {
         width: 32%;
         margin-left: 1%;
       //  background-color: white;
         padding: 10px;
         border-radius: 10px;
         .img {
             height: 71px;
             width: 71px;
             border-radius: 50%;
             border: 2px solid whitesmoke;
         }
     }
 }

 @media screen and (max-width: 1024px) {
     .row {
         display: block;
         width: 100%;
         height: 100%;
         margin-bottom: 5px;
         margin:0;

         .each-skill-1 {
             margin: auto;
             width: 98%;
             margin-bottom: 5px;
         }
         .each-skill-2 {
             margin: auto;
             width: 98%;
             margin-bottom: 5px;
         }
         .each-skill-3 {
             margin: auto;
             width: 98%;
         }
     }
 }