@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 20px; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 1.5s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-top: 100%; }
    to {
      top: 5px; } }
  .container {
    position: relative;
    top: 5px;
    animation: 1.5s fadein;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

.row {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  color: black; }

.row .each-skill-1 {
  width: 48.5%;
  margin-left: 1%;
  background-color: white;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px; }

.row .each-skill-1 .img {
  height: 71px;
  width: 71px;
  border-radius: 50%;
  border: 2px solid whitesmoke; }

.row .each-skill-2 {
  width: 48.5%;
  margin-left: 1%;
  background-color: white;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px; }

.row .each-skill-2 .img {
  height: 71px;
  width: 71px;
  border-radius: 50%;
  border: 2px solid whitesmoke; }

@media screen and (max-width: 1024px) {
  .row {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    margin: 0; }
  .row .each-skill-1 {
    margin: auto;
    width: 98%;
    margin-bottom: 5px; }
  .row .each-skill-2 {
    margin: auto;
    width: 98%;
    margin-bottom: 5px; }
  .row .each-skill-3 {
    margin: auto;
    width: 98%; } }
