    @import '../body.scss';
    .profile {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        left: 10%;
        width: 80%;
        text-align: center;
        padding-left: 20px;
        padding-right: 15px;
        border-radius: 10px;
        border: 5px solid whitesmoke;
        .profileCaption {
            text-align: left;
            padding: 10px 10px 10px 10px;
        }
        .profilePicture {
            width: 200px;
            height: 130px; // margin-left:37%;
            margin: auto;
            width: 30%;
            img {
                margin-top: -60px;
                width: 160px;
                height: 160px;
                border: 5px solid white;
            }
        }
    }

    .edu-exp {
        position: relative;
        width: 100%;
        margin-bottom: 40px;
        height: auto;
        top: 20px;
        display: flex;
        -webkit-display: flex;
        .experience {
            position: relative;
            top: 0px;
            bottom: 20px;
            height: auto; //margin:auto;
            left: 0;
            width: 49%;
            padding: 10px 10px 10px 16px;
            border-radius: 10px;
            background-color: white;
            border: 5px solid whitesmoke;
        }
        .education {
            position: relative;
            top: 0px;
            bottom: 20px;
            margin-left: 2%;
            width: 49%;
            height: auto;
            padding: 10px 10px 10px 16px;
            border-radius: 10px;
            background-color: white;
            border: 5px solid whitesmoke;
        }
    }

    .aboutMe {
        border-radius: 10px;
        margin-top: 10px;
        background-color: white;
        padding: 15px 10px 10px 30px;
        line-height: 1.5em;
        border: 5px solid whitesmoke;
    }

    @media screen and (max-width: 1024px) {
        .profile {
            margin-top: 40px;
            left: 5%;
            width: 90%;
            .profilePicture {
                width: 120px;
                height: 60px; // margin-left:37%;
                img {
                    margin-top: -50px;
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .aboutMe {
            margin-bottom: 20px;
        }
    }