@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 20px; } }

body {
  position: relative; }

.container {
  position: relative;
  margin-top: 20px;
  animation: 1.5s fadein; }

@media screen and (max-width: 768px) {
  @keyframes fadein {
    from {
      margin-top: 100%; }
    to {
      margin-top: 50px; } }
  .container {
    position: relative;
    margin-top: 50px;
    animation: 1.5s fadein; } }

.profile {
  position: absolute;
  background-color: white;
  height: auto;
  left: 20%;
  top: 60px;
  width: 60%;
  text-align: center;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 10px; }

.profile .profileCaption {
  text-align: left;
  padding: 10px 10px 10px 10px; }

.profile .profilePicture {
  width: 200px;
  height: 130px;
  margin: auto;
  width: 30%; }

.profile .profilePicture img {
  margin-top: -60px;
  width: 160px;
  height: 160px;
  border: 5px solid white; }

.aboutMe {
  border-radius: 10px;
  position: absolute;
  margin-top: 440px;
  background-color: white;
  padding: 15px 10px 10px 30px;
  line-height: 1.5em; }

@media only screen and (min-device-width: 413px) and (max-device-width: 737px) {
  .profile {
    left: 5%;
    right: 5%;
    top: 50px;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0; }
  .profile .profilePicture {
    width: 100px;
    height: 50px;
    margin: auto;
    width: 30%; }
  .profile .profilePicture img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
    border: 3px solid white; }
  .aboutMe {
    position: absolute;
    margin-top: 420px;
    background-color: white;
    padding: 15px 10px 10px 20px;
    line-height: 1.5em;
    width: 90%;
    left: 5%;
    right: 5%; } }

@media screen and (max-width: 375px) {
  .profile {
    left: 5%;
    right: 5%;
    top: 50px;
    width: 90%;
    text-align: center;
    padding-bottom: 10px; }
  .profile .profilePicture {
    width: 100px;
    height: 50px;
    margin: auto;
    width: 30%; }
  .profile .profilePicture img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
    border: 3px solid white; }
  .aboutMe {
    width: 100%;
    position: relative;
    margin-top: 500px;
    background-color: white;
    padding: 15px 10px 10px 20px;
    line-height: 1.5em; } }

@media only screen and (min-device-width: 767px) and (max-device-width: 1025px) {
  .profile {
    left: 5%;
    right: 5%;
    top: 50px;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
    z-index: 111;
    opacity: 1; }
  .profile .profilePicture {
    width: 100px;
    height: 50px;
    margin: auto;
    width: 30%; }
  .profile .profilePicture img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
    border: 3px solid white; }
  .aboutMe {
    position: absolute;
    margin-top: 375px;
    background-color: white;
    padding: 15px 10px 10px 20px;
    line-height: 1.5em; } }
