@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 4s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-right: -100%; }
    to {
      margin-right: 0; } }
  .container {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

.profile {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  left: 10%;
  width: 80%;
  text-align: center;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 10px;
  border: 5px solid whitesmoke; }
  .profile .profileCaption {
    text-align: left;
    padding: 10px 10px 10px 10px; }
  .profile .profilePicture {
    width: 200px;
    height: 130px;
    margin: auto;
    width: 30%; }
    .profile .profilePicture img {
      margin-top: -60px;
      width: 160px;
      height: 160px;
      border: 5px solid white; }

.edu-exp {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  height: auto;
  top: 10px;
  display: flex;
  -webkit-display: flex; }
  .edu-exp .experience {
    position: relative;
    top: 0px;
    bottom: 20px;
    height: auto;
    left: 0;
    width: 49.5%;
    padding: 10px 10px 10px 16px;
    border-radius: 10px;
    background-color: white;
    border: 5px solid whitesmoke; }
  .edu-exp .education {
    position: relative;
    top: 0px;
    bottom: 20px;
    margin-left: 1%;
    width: 49.5%;
    height: auto;
    padding: 10px 10px 10px 16px;
    border-radius: 10px;
    background-color: white;
    border: 5px solid whitesmoke; }

.aboutMe {
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  padding: 15px 10px 10px 30px;
  line-height: 1.5em;
  border: 5px solid whitesmoke; }

@media screen and (max-width: 1024px) {
  .edu-exp {
    display: block;
    -webkit-display: block; }
    .edu-exp .experience {
      margin: auto;
      margin-bottom: 0px;
      width: 100%; }
    .edu-exp .education {
      width: 100%;
      margin: auto;
      margin-bottom: 0px; }
  .profile {
    margin: auto;
    margin-top: 40px;
    width: 100%; }
    .profile .profilePicture {
      width: 120px;
      height: 60px; }
      .profile .profilePicture img {
        margin-top: -50px;
        width: 100px;
        height: 100px; }
  hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border: 0;
    border-top: 1px solid #eeeeee; } }
