@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 20px; } }

body {
  position: relative; }

.container {
  position: relative;
  margin-top: 20px;
  animation: 1.5s fadein; }

@media screen and (max-width: 768px) {
  @keyframes fadein {
    from {
      margin-top: 100%; }
    to {
      margin-top: 50px; } }
  .container {
    position: relative;
    margin-top: 50px;
    animation: 1.5s fadein; } }
