@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 35px; } }

body {
  position: relative; }

.container {
  position: relative;
  margin-top: 0px;
  z-index: -1;
  animation: 1.5s fadein; }

@media screen and (max-width: 768px) {
  .container {
    margin-top: 35px; } }

#contact {
  transition: 1s; }
