@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 4s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-right: -100%; }
    to {
      margin-right: 0; } }
  .container {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

#contact {
  text-align: center;
  color: #0088cc; }
  #contact h4 {
    color: black;
    text-shadow: none; }
  #contact .contact-form {
    background-color: white;
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    padding: 20px; }
    #contact .contact-form .name-email {
      width: 100%;
      display: flex; }
      #contact .contact-form .name-email .name {
        margin: 10px;
        width: 45%; }
        #contact .contact-form .name-email .name input {
          width: 100%;
          border-radius: 5px;
          padding: 10px;
          margin-top: 10px;
          border: 1px solid wheat; }
      #contact .contact-form .name-email .email {
        margin: 10px;
        width: 45%; }
        #contact .contact-form .name-email .email input {
          width: 100%;
          border-radius: 5px;
          margin-top: 10px;
          padding: 10px;
          border: 1px solid wheat; }
  #contact .message {
    margin: 20px; }
    #contact .message textarea {
      margin: auto;
      width: 75%;
      height: 250px;
      margin-top: 10px;
      border-radius: 10px;
      border: 1px solid wheat;
      padding: 15px; }
  #contact button {
    display: block;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
    border-radius: 4px;
    background-color: #0088cc;
    padding: 10px;
    color: white; }
    #contact button .material-icons {
      transform: rotate(-30deg); }

input::-webkit-input-placeholder {
  font-size: 12px;
  transition: 0.5s; }

input:focus::-webkit-input-placeholder {
  font-size: 8px; }

textarea::-webkit-input-placeholder {
  font-size: 12px;
  transition: 0.5s; }

textarea:focus::-webkit-input-placeholder {
  font-size: 8px; }

@media screen and (max-width: 1024px) {
  #contact {
    text-align: center; }
    #contact .contact-form {
      background-color: white;
      height: 100%;
      width: 100%;
      border-radius: 10px; }
      #contact .contact-form .name-email {
        display: block;
        padding-top: 20px; }
        #contact .contact-form .name-email .name {
          text-align: left;
          margin: auto;
          margin-top: 10px;
          width: 90%; }
        #contact .contact-form .name-email .email {
          text-align: left;
          margin: auto;
          margin-top: 10px;
          width: 90%; }
      #contact .contact-form .message {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        width: 90%; }
        #contact .contact-form .message textarea {
          margin: auto;
          width: 100%;
          height: 250px;
          margin-top: 10px;
          border-radius: 10px;
          border: 1px solid wheat;
          padding: 15px; } }
