@keyframes fadein {
  from { margin-top: 100%;opacity:0;}
  to   { margin-top: 20px;opacity:1;}
}

.container {
    margin-top:20px;
    animation: 1.5s fadein;   
}
@media screen and (max-width: 1018px) {
 
  .container {
      margin-top:50px;
  }
}


