@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 4s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-right: -100%; }
    to {
      margin-right: 0; } }
  .container {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }
