@keyframes fadein {
    from {
        margin-top: 100%
    }
    to {
        margin-top: 20px
    }
}

body {
    position: relative;
  
}

.container {
    position: relative;
    margin-top: 20px;
    animation: 1.5s fadein; // display:flex;
    // -webkit-display:flex;
}

@media screen and (max-width: 1024px) {
    @keyframes fadein {
        from {
            margin-top: 100%
        }
        to {
            top: 40px
        }
    }
    .container {
        position: relative;
        top: 40px;
        animation: 1.5s fadein;
        width:100%;
    }
}