@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 20px; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 1.5s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-top: 100%; }
    to {
      top: 5px; } }
  .container {
    position: relative;
    top: 5px;
    animation: 1.5s fadein;
    width: 100%;
    height: 100%;
    margin-left: 0; } }
