@keyframes fadein {
  from {
    margin-top: 100%; }
  to {
    margin-top: 20px; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 1.5s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-top: 100%; }
    to {
      top: 5px; } }
  .container {
    position: relative;
    top: 5px;
    animation: 1.5s fadein;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

.footer {
  position: absolute;
  left: 5px;
  z-index: 10; }

.footer li {
  list-style: none; }

.footer li a {
  padding-bottom: 25px; }

.footer li a:hover {
  cursor: pointer; }

.img {
  cursor: pointer;
  border: 1px solid white;
  width: 30px;
  border-radius: 50%;
  margin-top: 15px; }

@media screen and (max-width: 1024px) {
  .footer {
    display: none; } }
