.footer {
  position: absolute;
  top: 60px;
  left: 5px;
  z-index: 10; }
  .footer li {
    list-style: none; }
    .footer li a {
      padding-bottom: 25px; }
    .footer li a:hover {
      cursor: pointer; }

.img-circle {
  cursor: pointer;
  margin-top: 15px; }

@media screen and (max-width: 768px) {
  .footer {
    position: relative;
    float: right;
    margin-top: -93px;
    margin-right: 20px; }
    .footer .img-circle {
      cursor: pointer;
      margin-right: 5px; } }

@media screen and (min-width: 768px) {
  .footer {
    display: none; } }
