@import '../body.scss';
.footer {
    position: absolute;
    left: 5px;
    z-index: 10;
    li {
        list-style: none; //margin-top:-50vh;
        a {
            padding-bottom: 25px;
        }
        a:hover {
            cursor: pointer;
        }
    }
}

.img {
    cursor: pointer;
    border:1px solid white;
    width:30px;
    border-radius: 50%;
    margin-top:15px;
}
// ipad air screen
@media screen and (max-width: 1024px) {
    .footer {
       display: none;
    }
}
