.footer {
    position: relative;
    border: 5px solid black;
    top: 60px;
    left: 5px;
    z-index: 100000;
    li {
        list-style: none; //margin-top:-50vh;
        a {
            padding-bottom: 25px;
        }
        a:hover {
            cursor: pointer;
        }
    }
}

.img-circle {
    cursor: pointer;
    margin-top: 15px;
}
// ipad air screen
@media screen and (max-width: 1024px) {
    .footer {
        position: relative;
        float: right;
        margin-top: -93px;
        margin-right: 20px;
        .img-circle {
            cursor: pointer;
            margin-right: 5px;
        }
    }
}
@media screen and (min-width: 768px) {
  .footer {
    display: none;
  }
}