@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  position: relative; }

.container {
  color: black;
  position: relative;
  margin-top: 20px;
  animation: 4s fadein;
  height: 100%;
  margin-left: 3%;
  width: 95%;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 1024px) {
  @keyframes fadein {
    from {
      margin-right: -100%; }
    to {
      margin-right: 0; } }
  .container {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    -webkit-overflow-scrolling: touch; } }

.footer {
  position: absolute;
  left: 5px;
  z-index: 10; }
  .footer li {
    list-style: none; }
    .footer li a {
      padding-bottom: 25px; }
    .footer li a:hover {
      cursor: pointer; }

.img {
  cursor: pointer;
  border: 1px solid white;
  width: 30px;
  border-radius: 50%;
  margin-top: 15px; }

@media screen and (max-width: 1024px) {
  .footer {
    display: none; } }
