@import '../body.scss';
.footer {
    position: fixed;
    top: 30vh;
    left:0px;
    z-index: 100;
    li {
        list-style: none; //margin-top:-50vh;
        a { display: block; }
        a:hover { cursor: pointer; }
    }
}

.img {
    cursor: pointer;
    width:30px;
    margin-top:1px;
}
@media screen and (max-width: 1024px) {
    .footer {
       display: none;
    }
}
