@keyframes slideIn {
  from { margin-top: 0px}
  to   { margin-top: 10px}
}

.navbar{
    display:inline;
    font-size:16px;
    transition: 1s; 
}

.logo {
   margin-left:200px;
   img {
       float:left;
       width:100px;
       height:100px;
   }
}
.smallNav{
    position:relative;
    margin-top:10px;
    background-color: whitesmoke;
    animation: slideIn 1s;
    transition: opacity 0.5s ease-out;
    ul {
        li {
            list-style: none;
            text-align:left;
            padding:8px;
            a{
               text-decoration: none;
               :hover {
                   color:black;
               }
            }
        }
    }
}

.nav {
       margin-right:20px;
       ul {
    list-style-type: none;
    overflow: hidden;
  
}

li {
    float: right;
    margin-right:40px;
}

li   a {
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
    opacity:0.8;
 }
li a:hover{
    opacity:1;
    border-bottom:2px solid green;
    text-decoration:none !important;
}

.active {
    opacity:1;
    color:blue;
    border-bottom:2px solid green;
    text-decoration: none !important;
}
   }
    
// for toggle menu button
      #toggle{
                width:34px;
                height: 25px;
                border-radius: 4px;
                background-color: white;
                margin-right:10px;
                float: right;
                cursor:pointer;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                
            }
       #first{
               /* border-bottom: 3px solid #2a2a2a; */
                border-bottom: 2px solid black;
                border-radius: 8px;
                margin-top: 6px;
                margin-left: 4px;
                margin-right: 4px;
                 
            }
         #second{
                border-bottom: 2px solid black;
                border-radius: 8px;
                margin-top: 4px;
                margin-left: 4px;
                margin-right: 4px;
            }
       #third{
                border-bottom: 2px solid black;
                border-radius: 8px;
                margin-top: 4px;
                margin-left: 4px;
                margin-right: 4px;
            }
     #toggle:hover {
                background-color: whitesmoke;
            }
    #toggle:hover > #first{
                 border-bottom: 2px solid #2a2a2a;
            }
    #toggle:hover > #second{
                 border-bottom: 2px solid #2a2a2a;
            }
     #toggle:hover > #third{
                 border-bottom: 2px solid #2a2a2a;
            }

@media screen and (max-width: 1014px) {
  #toggle {
      display:block;
  }
  .nav {
      visibility:hidden;
  }
  .logo {
      margin-left:20px;
      img {
      width:40px;
      height:30px;
      }
  }
}
@media screen and (min-width: 1013px) {
  #toggle {
      display:none;
  }
}

@media screen and (max-width: 1018px) {
   .nav {
      display:none;
  }
}

