@keyframes slideIn {
    from {
        height: 0px
    }
    to {
        height: 190px
    }
}

@keyframes show {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes hide {
    from {
        height: 190px;
        opacity: 1
    }
    to {
        height: 0px;
        opacity: 0
    }
}

.navbar {
    display: inline;
    font-size: 16px;
    transition: 1s;
    border: none !important;
    top: 20px;
}

.logo {
    margin-left: 10%;
    img {
        float: left;
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }
}

.smallNav {
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; // background-color: #000000;
    padding-top: 10px;
    z-index: 999;
    .smallNavHead {
        text-align: center; //social icon
        li {
            list-style: none;
            float: left;
            margin-left: 10px;
        } // for toggle menu button
        #toggle {
            width: 34px;
            height: 25px;
            border-radius: 4px;
            background-color: inherit;
            margin-right: 10px;
            float: right;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }
        #first {
            /* border-bottom: 3px solid #2a2a2a; */
            border-bottom: 2px solid black;
            border-radius: 8px;
            margin-top: 6px;
            margin-left: 4px;
            margin-right: 4px;
        }
        #second {
            border-bottom: 2px solid black;
            border-radius: 8px;
            margin-top: 4px;
            margin-left: 4px;
            margin-right: 4px;
        }
        #third {
            border-bottom: 2px solid black;
            border-radius: 8px;
            margin-top: 4px;
            margin-left: 4px;
            margin-right: 4px;
        }
        #toggle:hover {
            background-color: black;
        }
        #toggle:hover>#first {
            border-bottom: 2px solid whitesmoke;
        }
        #toggle:hover>#second {
            border-bottom: 2px solid whitesmoke;
        }
        #toggle:hover>#third {
            border-bottom: 2px solid whitesmoke;
        }
    }
    .smallNavLink {
        position: relative;
        margin-top: 10px;
        background-color: #2a2a2a;
        border-top: 2px solid black;
        animation: slideIn 0.5s;
        display: none;
        font-size: 12px;
        ul {
            hr {
                display: block;
                border: 0;
                border-top: 1px solid black;
                padding: 0;
                margin: 0px;
                animation: show 2s ease-out;
            }
            li {
                list-style: none;
                text-align: left;
                padding: 6px;
                animation: show 1.6s ease-out;
                a {
                    text-decoration: none;
                    text-shadow: none;
                     :hover {
                        color: black;
                    }
                    &:active {
                        color: black;
                    }
                }
            }
        }
    }
}

.nav {
    z-index: -1;
    margin-right: 20px;
    ul {
        list-style-type: none;
        overflow: hidden;
    }
    li {
        float: right;
        margin-right: 40px;
    }
    li a {
        padding: 10px 16px 10px 16px;
        text-decoration: none;
        font-size: 14px;
        display: block;
        transition: 0.3s;
        opacity: 0.8;
        text-shadow: none;
        color: white;
    }
    li a:hover {
        opacity: 1;
        color: #005b96;
        border-bottom: 2px solid #005b96;
        text-decoration: none !important;
    }
    .active {
        opacity: 1;
        color: #005b96;
        border-bottom: 2px solid #005b96;
        text-decoration: none !important;
    }
}

@media screen and (min-width: 1024px) {
    .smallNav {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .smallNav {
        display: block;
    }
    .nav {
        display: none;
    }
    .big {
        display: none;
    }
}